# Processing (builtin from Github)
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# LaTeX
# TODO track changes to PDF or not???
*.pdf	
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
